.App {
  text-align: center;
  color: white;
  background-size: cover;
  background-image: url("../public/images/background.jpg");
  background-repeat: no-repeat;
  position: relative;
  height: 100vh;
  width: auto;
}

.nav-link {
  text-decoration: none;
  border: black 1px solid;
  border-radius: 16px;
  text-align: center;
  color: white !important;
  border-color: white;
  margin: 5px;
  margin-top: 10px;
}

.nav-link:hover {
  background-color: #dddbdb;
}

.li {
  padding: 5px;
}

canvas {
  background-color: black;
  margin-top: 2em;
  height: 30em;
}

input {
  width: 50%;
  height: 100px;
  padding: 20px;
  font-size: 20px;
  border: 1px solid black;
  box-sizing: border-box;
}

.simple-keyboard {
  max-width: 850px;
}