.App {
  text-align: center;
}

canvas {
  background-color: black;
  margin: auto;
  height: 30em;
}

input {
  margin: auto;
  height: 2em;
  width: 60%;
  font-size: 20px;
  border: 1px solid black;
  box-sizing: border-box;
}

.simple-keyboard {
  margin: auto;
  max-width: 80%;
}