.App {
  text-align: center;
  color: white;
  background-size: cover;
  background-image: url("../public/images/background.jpg");
  background-repeat: no-repeat;
  position: relative;
  height: 100vh;
  width: auto;
}

.nav-link {
  text-decoration: none;
  border: black 1px solid;
  border-radius: 16px;
  text-align: center;
  color: white !important;
  border-color: white;
  margin: 5px;
  margin-top: 10px;
}

.nav-link:hover {
  background-color: #dddbdb;
}

.li {
  padding: 5px;
}


canvas {
  margin: auto;
  height: 20em;
}

input {
  margin: auto;
  height: 2em;
  width: 60%;
  font-size: 20px;
  border: 1px solid black;
  box-sizing: border-box;
}

.simple-keyboard {
  margin: auto;
  max-width: 80%;
}