body {
  background-image: url("../public/images/steel.jpg");
}

.App {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 100vh;
  width: auto;
}

.nav-link {
  text-decoration: none;
  border: black 1px solid;
  /* border-radius: 16px; */
  text-align: center;
  color: white !important;
  border-color: white;
  margin: 5px;
  margin-top: 10px;
  border-radius: 16px;
}

.nav-link:hover {
  background-color: #dddbdb;
}

.li {
  padding: 5px;
}

.nav {
  border-bottom: solid 1px white;
  padding-bottom: 6px;
}


input {
  width: 80%;
  height: 40px;
  font-size: 20px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 16px;
  background-color: #606060;
  border: black 1px solid;
}

canvas {
  margin: auto;
  height: 20em;
}

input::placeholder {
  color: black;
}

.simple-keyboard.hg-theme-default.myTheme {
  border-radius: 10px;
  margin: 10px;
  background-color: transparent;
}
.simple-keyboard.hg-theme-default.myTheme .hg-button {
  background-color: #606060;
  border: none;
  color: #fff;
}


.simple-keyboard.hg-theme-default.myTheme,
.Board {
  margin: 0 auto;
  margin-top: 25px;
}

.decadeBtn {
  color: black;
  text-decoration: none;
  padding: 7px;
  padding-left: 25px;
  padding-right: 25px;
  border: solid 1px;
  background-color: white;
  border-radius: 10px;
  border-color: black 1px solid;
}

.decadeBtn:active {
  background-color: gray;
  transform: translateY(4px);
}

.cardBody {
  border: solid 1px #5f5f5f;
  display: inline-block;
  padding: 25px;
  border-radius: 16px;
}

.cardTitle {
  list-style-type: none;
}

.cardImg {
  width: 180px;
  height: 220px;
  padding-top: 10px;
  background-color: transparent;
  border-radius: 16px;
}


.cards {
  display: inline-block;
  padding: 11px;
}
