.App {
  text-align: center;
}

canvas {
  background-color: black;
  margin-top: 2em;
  height: 30em;
}

input {
  width: 50%;
  height: 100px;
  padding: 20px;
  font-size: 20px;
  border: 1px solid black;
  box-sizing: border-box;
}

.simple-keyboard {
  max-width: 850px;
}